Command:
 isnull((Select RrSalRt+(case when '1' = '1' then ((3000.000-2000.000) * (case when 'S' = 'C' then RrFixMinTol else RrFixMaxTol  end)  ) else 0 end)  from RmRt where RrTcTyp='IPD' and RrCtg='G' and RrSCtg='MPL' and                     RrCd='MP14RDWW' and   Round(RrFrLn, 4) <= Round(0.000 , 3) And Round(RrToLn, 4) >= Round(0.000 , 3) and  RrCmCtg='C' and                    RrCmCd ='C001' and RrCmCurCd='RS' and 1 = 1) , Convert(Decimal(14, 3),IsNull((Select RrSalRt+(case when '1' = '1' then ((3000.000-2000.000) * (case when 'S' = 'C' then RrFixMinTol else RrFixMaxTol  end)  ) else 0 end)  from RmRt where RrTcTyp= 'IPD' and RrCtg='G' and RrSCtg='MPL' and                    RrCd='MP14RDWW' and   Round(RrFrLn, 4) <= Round(0.000 , 3) And Round(RrToLn, 4) >= Round(0.000 , 3) and  RrCmCtg='C' and                    RrCmCd ='ZSELF' and RrCmCurCd='RS' and 1 = 1)*(1 +0.0000 / 100) , 0))))

Select @wRmRt=isnull((Select RrSalRt+(case when '1' = '1' then ((3000.000-2000.000) * 
(case when 'S' = 'C' then RrFixMinTol else RrFixMaxTol  end)  ) else 0 end)  from RmRt where RrTcTyp='IPD' and RrCtg='G' and RrSCtg='MPL' and        RrCd='MP14RDWW' and   Round(RrFrLn, 4) <= Round(0.000 , 3) And 
Round(RrToLn, 4) >= Round(0.000 , 3) and  RrCmCtg= 'P' and RrCmCd ='' and        RrCmCurCd='RS' and 1= 1)* (1 + 0.000 / 100) ,  
isnull((

Select RrSalRt+(case when '1' = '1' then ((3000.000-2000.000) * (case when 'S' = 'C' then RrFixMinTol else RrFixMaxTol  end)  ) else 0 end)  from RmRt where RrTcTyp='IPD' and RrCtg='G' and RrSCtg='MPL' 
and                     RrCd='MP14RDWW' and   Round(RrFrLn, 4) <= Round(0.000 , 3) And Round(RrToLn, 4) >= Round(0.000 , 3) and  RrCmCtg='C' and    
                RrCmCd ='C001' and RrCmCurCd='RS' and 1 = 1) *(1 +0.0000 / 100) , 0)
                
                100 + 


Select isnull((Select RrSalRt+(case when '1' = '1' then ((1800.000-2000.000) * (case when 'S' = 'C' then RrFixMinTol else RrFixMaxTol  end)  ) else 0 end)  
from RmRt where RrTcTyp='IPD' and RrCtg='G' and RrSCtg='MPL' and        RrCd='MP14RDWW' and   Round(RrFrLn, 4) <= Round(0.000 , 3) And Round(RrToLn, 4) >= Round(0.000 , 3) and  RrCmCtg= 'P' 
and RrCmCd ='' and        RrCmCurCd='RS' and 1= 1)* (1 + 0.000 / 100) ,  
isnull((

Select RrSalRt+(case when '1' = '1' then ((1800.000-2000.000) * (case when 'S' = 'C' then RrFixMinTol else RrFixMaxTol  end)  ) else 0 end)  
from RmRt where RrTcTyp='IPD' and RrCtg='G' and RrSCtg='MPL' and                     RrCd='MP14RDWW' and   Round(RrFrLn, 4) <= Round(0.000 , 3) And Round(RrToLn, 4) >= Round(0.000 , 3) 
and  RrCmCtg='C' and                    RrCmCd ='C001' and RrCmCurCd='RS' and 1 = 1) , 
Convert(Decimal(14, 3),IsNull((

Select RrSalRt+(case when '1' = '1' then ((1800.000-2000.000) * (case when 'S' = 'C' then RrFixMinTol else RrFixMaxTol  end)  ) else 0 end) 
 from RmRt where RrTcTyp= 'IPD' and RrCtg='G' and RrSCtg='MPL' and                    RrCd='MP14RDWW' and   Round(RrFrLn, 4) <= Round(0.000 , 3) And Round(RrToLn, 4) >= Round(0.000 , 3) 
 and  RrCmCtg='C' and                    RrCmCd ='ZSELF' and RrCmCurCd='RS' and 1 = 1)*(1 +0.0000 / 100) , 0))))


Command:
Select @wRmRt=isnull((Select RrSalRt+(case when '1' = '1' then ((1800.000-2000.000) * (case when 'S' = 'C' then RrFixMinTol else RrFixMaxTol  end)  ) else 0 end)  from RmRt 
where RrTcTyp='IPD' and RrCtg='G' and RrSCtg='MPL' and        RrCd='MP14RDWW' and   Round(RrFrLn, 4) <= Round(0.000 , 3) And Round(RrToLn, 4) >= Round(0.000 , 3) and  
RrCmCtg= 'P' and RrCmCd ='' and        
RrCmCurCd='RS' and RrSalRt<> 0)* (1 + 0.000 / 100) ,  
isnull((Select RrSalRt+(case when '1' = '1' then ((1800.000-2000.000) * (case when 'S' = 'C' then RrFixMinTol else RrFixMaxTol  end)  ) else 0 end)  from RmRt 
where RrTcTyp='IPD' and RrCtg='G' and RrSCtg='MPL' and                     RrCd='MP14RDWW' and   Round(RrFrLn, 4) <= Round(0.000 , 3) And Round(RrToLn, 4) >= Round(0.000 , 3) and  RrCmCtg='C' 
and                    RrCmCd ='C001' and RrCmCurCd='RS' and RrSalRt <> 0) , Convert(Decimal(14, 3),IsNull((Select RrSalRt+(case when '1' = '1' then ((1800.000-2000.000) * (case when 'S' = 'C' then RrFixMinTol else RrFixMaxTol  end)  ) else 0 end)  from RmRt where RrTcTyp= 'IPD' and RrCtg='G' and RrSCtg='MPL' and                    RrCd='MP14RDWW' and   Round(RrFrLn, 4) <= Round(0.000 , 3) And Round(RrToLn, 4) >= Round(0.000 , 3) and  RrCmCtg='C' and                    RrCmCd ='ZSELF' and RrCmCurCd='RS' and RrSalRt <> 0)*(1 +0.0000 / 100) , 0))))

DECLARE @MRT DECIMAL(10,3)

execute  @mrt= ForCpy_GetRmRt_IPD 'C001','MP14RDWW',2.050,0,0,'S',3000,'C','','',0,'RS','','',@MRT
SELECT @MRT 

DECLARE @MRT DECIMAL(10,3)
execute  @mrt= ForCpy_GetRmRt_IPD 'C001','MP14BGWW',2.1,1.1,0,'S',3000,'C','','',0,'RS','','',@MRT
SELECT @MRT 


Select @wRmRt= RrXWtPer 
from RmRt where RrTcTyp= 'RM' and                 RrCtg='G' and RrSCtg='MPLBG' and                 RrCd='MP14BGWW' and  Round(RrFrLn, 4) = Round(2.100, 3) And Round(RrToLn, 4) = Round(1.100, 3) and  RrCmCtg='C' and RrCmCd ='C001' and                 RrCmCurCd='RS' and RrXWtPer <> 0 

20

select RrSalRt from RmRt where RrTcTyp= 'IPD' and                 RrCtg='G' and RrSCtg='MPLBG' and                 RrCd='MP14BGWW' and  Round(RrFrLn, 4) = Round(0.000, 3) 
And Round(RrToLn, 4) = Round(9.999, 3) and  RrCmCtg='C' and RrCmCd ='C001' and                 RrCmCurCd='RS' and 1 = 1 

select * from RmRt where RrTcTyp = 'IPD'


Select RrSalRt+(case when '1' = '1' then ((3000.000-2000.000) * (case when 'S' = 'C' then RrFixMinTol else RrFixMaxTol  end)  ) else 0 end)  from RmRt where RrTcTyp= 'IPD' and                 RrCtg='G' and RrSCtg='MPLBG' and                 RrCd='MP14BGWW' and   Round(RrFrLn, 4) <= Round(0.000 , 3) And Round(RrToLn, 4) >= Round(0.000 , 3) and  RrCmCtg='C' and RrCmCd ='C001' and                 RrCmCurCd='RS' and 1 = 1 
select * from 


ALTER Procedure [dbo].[ForCpy_GetRmRt_IPD] 
	(@mCmCd varchar(8), @mRmCd varchar(16), @mLn1 decimal(8,3), @mLn2 decimal(8,3), 
    @mWtPerDia decimal(8,3), @mOpt As varchar(1), @mLme decimal(10,3), @mCmCtg As char(1)='C',
    @mHistCmCtg char(1) ='', @mHistCmCd varchar(8)='', @mHistYyyyMm decimal(8,0),                         
    @mCmCurCd varchar(8), @mCmLkUpRmRt varchar(8), @mPrtKey char(1), @mRt as decimal(10,3) out)
as
begin

declare @wRmRt as decimal(10,3)
Declare @wRmCtg varchar(2), @wRmSCtg varchar(5)
Declare @ctselfcocd varchar(8)
declare @ctselfcmcd varchar(8)
declare @ErrMsg varchar(500)
Declare @wRtBy varchar(2), @wRt varchar(10), @wInc decimal(10,4), @wCnd varchar(100), @wRtByForCostRt As char(1),
  @wRtChrtByPtr varchar(2), @wRtChrtByBs varchar(2), @wcndForCostRt varchar(100),
  @wCmSeekZSelfRt bit,  @wInp decimal(5,3),  @wFrLn varchar(8), @wToLn varchar(10)
declare @wCommand nvarchar(max)
declare @mBaseLMEfromRM decimal(10,3)
  
  SELECT @ctselfcocd='ZZZ'
  SELECT @ctSelfCmCd= 'ZSELF'

exec [ForCpy_GetRmRt_Base] 
	@mCmCd , @mRmCd , @mLn1 , @mLn2 , 
    @mWtPerDia , @mOpt , @mLme , @mCmCtg ,
    @mHistCmCtg , @mHistCmCd , @mHistYyyyMm ,                         
    @mCmCurCd , @mCmLkUpRmRt , @mPrtKey , @mBaseLMEfromRM  out

SELECT @mBaseLMEfromRM 

  Select @mLn1 = 0
  Select @mLn2=9999.9999
  If (@mOpt <> 'C') And (@mOpt <> 'S') 
	select 0

  If (@mCmCtg <> 'C') And (@mCmCtg <> 'S') 
	select 0

  If @mCmCurCd='' 
  begin
	select @mCmCurCd = CmCurCd from CustMst where CmCtg= @mCmCtg  and CmCd= @mCmCd 
  end
  --6.1-13 seek from custmst is removed  
  --If @mCmLkUpRmRt = '' 
  --begin
  --  select @mCmLkUpRmRt = CmLkUpRmRt from CustMst where CmCtg= @mCmCtg and CmCd= @mCmCd
  --End
   
  select @wCmSeekZSelfRt = 1 where exists (Select 'x' from CustMst where CmCtg= @mCmCtg and CmCd= @mCmCd and CmSeekZSelfRt='Y')
  
  select @wRmCtg = RmCtg ,@wRmSctg=RmSctg from RmMst where RMCd=@mRmCd 
--  If @wRmCtg = 'G' Or @wRmCtg = 'P' Or @wRmCtg = 'S' Or @wRmCtg = 'L' select 0

  declare @ws_RndOff As char(1)
  select @ws_RndOff = (select case when exists((Select 'x' from Head  Join Param on PTyp='CPYRT' and PMCd=HOrdRtRndOffRmCtg Where HCoCd=@ctselfcocd 
											and hCd=@ctSelfCmCd and ','+PDesc225+',' like '%,' + @wRmCtg + ',%' )) then  0 else 3 end)
  
    
  If(@mHistCmCtg IS NULL OR @mHistCmCtg = '') Or @mHistCmCtg <> 'P' 
  begin
    select @wRtChrtByPtr = 'P'  from RmRt where RrTcTyp= 'PTR' and RrCmCtg= @mCmCtg 
                 And RrCmCd = @mCmCd and RrCtg= @wRmCtg and 
                 RrSCtg= @wRmSCtg and RrSTWGrp= '' and RrCd= '' and RrDmCtg= '' 
                 and RrLsCtg= '' and RrLabMCd= '' and RrFrLn= 0 and RrToLn= 0 
	select @wRtChrtByPtr =isnull(@wRtChrtByPtr,'')
	

    select @wRmCtg
	select @wRmSctg
	select @wRtChrtByBs = 'BS' from RmRt where RrTcTyp= 'BS' and RrCmCtg= @mCmCtg 
                 And RrCmCd = @mCmCd and RrCtg= @wRmCtg and RrSCtg= @wRmSCtg and RrSTWGrp= '' and RrCd= '' and RrDmCtg= '' 
                 and RrLsCtg= '' and RrLabMCd= '' and RrFrLn= 0 and RrToLn= 0

	
	select @wRtChrtByBs =isnull(@wRtChrtByBs ,'')
  End	

  select @wRtBy = PValue from Param where PTyp= 'RMSCTG' and PMCd= @wRmCtg and PSCd= @wRmSCtg  
  select @wRtByForCostRt = @wRtBy	
  
  If @wRtChrtByPtr <> '' 
    select @wRtBy = @wRtChrtByPtr
  Else
	If @wRtChrtByBs <> '' 
		select @wRtBy = @wRtChrtByBs
 

  IF(@mHistCmCtg IS NULL OR @mHistCmCtg = '')
    select @wRt = case when @mOpt = 'S' then 'RrSalRt' else 'RrCstRt' end
  Else
    select @wRt = case when @mOpt = 'S' then 'RhSalRt' else 'RhCstRt' end

  If @mCmCtg = 'S' And @mOpt = 'C' select @mCmCtg = 'C'


  If @mOpt ='S' 
	begin
    select @wInc = RrSalRt from RmRt where RrTcTyp= 'INC' and RrCmCtg= @mCmCtg and 
           RrCtg= @wRmCtg and RrSCtg= @wRmSCtg  and RrCmCd= @mCmCd 
    If(@wInc IS NULL OR @wInc = 0)	
      select @wInc = RrSalRt from RmRt where RrTcTyp= 'INC' and RrCmCtg= @mCmCtg and 
           RrCtg= @wRmCtg  and RrSCtg= ''  and RrCmCd= @mCmCd
    If(@wInc IS NULL OR @wInc = 0)	 
      select @wInc = RrSalRt from RmRt where RrTcTyp= 'INC' and RrCmCtg= @mCmCtg and 
           RrCtg= @wRmCtg and RrSCtg= @wRmSCtg and RrCmCd= @ctSelfCmCd 
	If(@wInc IS NULL OR @wInc = 0)	 	
      select @wInc = RrSalRt from RmRt where RrTcTyp= 'INC' and RrCmCtg= @mCmCtg and            
           RrCtg= @wRmCtg and RrSCtg='' and RrCmCd= @ctSelfCmCd 
	If @wInc IS NULL 
		select @wInc = 0	
	end 
  Else
    select @wInc = 0

  If @mOpt = 'S' 
	begin
    select @wInp= RrSalRt from RmRt where RrTcTyp= 'INP' and RrCmCtg= 'P' and 
           RrCtg=@wRmCtg and RrSCtg= @wRmSCtg and RrCmCd=@mCmLkUpRmRt 
    If(@wInp IS NULL OR @wInp = 0)	
      select @wInp =RrSalRt from RmRt where RrTcTyp= 'INP' and RrCmCtg= 'P' and 
           RrCtg= @wRmCtg and RrSCtg= ''  and RrCmCd= @mCmLkUpRmRt 
	If @wInp IS NULL 
		select @wInp = 0
	end  
  Else
    select @wInp = 0

  
  IF(@mHistCmCtg IS NULL OR @mHistCmCtg = '')
	begin
		select @wFrLn = 'RrFrLn'
		select @wToLn = 'RrToLn'
	end
  Else
	begin
		select @wFrLn = 'RhFrLn'
		select @wToLn = 'RhToLn'
	End

  if @wRtBy='S' 
	begin
		If @wRmCtg = 'X'  select @mLn1 = @mLme
		select @wCnd ='  Round(' + @wFrLn+ ', 4) <= Round(' + convert(varchar,@mLn1) + ' , 3) And Round(' + @wToLn + ', 4) >= Round(' + convert(varchar,@mLn1) + ' , 3) and '    
	end
  else if @wRtBy ='W' or @wRtBy='P' 
	select @wCnd =' Round(' + @wFrLn + ', 4) <= Round(' + convert(varchar,@mWtPerDia) + ', 4) And Round(' + @wToLn + ', 4) >= Round(' + convert(varchar,@mWtPerDia) + ', 4) and '
  else if @wRtBy = 'BS'   
	select @wCnd = ' Round(' + @wFrLn + ', 4) = Round(' + convert(varchar,@mLn1) + ', 3) And Round(' + @wToLn + ', 4) = Round(' + + convert(varchar,@mLn2) + ', 3) and '
  else
	select @wCnd =' '    
	
  if @wRtByForCostRt='S'
	begin
		If @wRmCtg = 'X' select @mLn1 = @mLme
		select @wcndForCostRt = ' Round(' + @wFrLn + ', 4) <= Round(' + convert(varchar,@mLn1) + ', 3) And Round(' + @wToLn + ', 4) >= Round(' + convert(varchar,@mLn1) + ', 3) and '
	end
  else if @wRtByForCostRt in ('W', 'P')
    select @wcndForCostRt = ' Round(' + @wFrLn + ', 4) <= Round(' + convert(varchar,@mWtPerDia) + ', 4) And Round(' + @wToLn + ', 4) >= Round(' + convert(varchar,@mWtPerDia) + ', 4) and '
  else if @wRtByForCostRt = 'BS'
    select @wcndForCostRt = ' Round(' + @wFrLn + ', 4) = Round(' + convert(varchar,@mLn1) + ', 3) And Round(' + @wToLn +', 4) = Round(' + convert(varchar,@mLn2) + ', 3) and '
  else 
	select @wcndForCostRt = ' '

  Declare @wAccessoriesRmIncFac varchar(max)
  SELECT @WRTCHRTBYPTR
  SELECT @WRTCHRTBYBS 

  If (@wRtChrtByPtr = '' And @wRtChrtByBs = '' ) 
  begin	
	If(@mHistCmCtg <> '')	
	begin
		Select @wCommand='Select 
						         @wRmRt= isnull((Select ' + @wRt + ' from RmRtHist where ' +
								  'RhYyyyMm=' + convert(varchar,@mHistYyyyMm) + ' and RhTcTyp=''IPD'' and ' +
								  'RhCtg=''' + @wRmCtg + ''' and RhSCtg=''' +  @wRmSCtg + '''  and  ' + 
								  'RhCd=''' + @mRmCd + ''' and '+ @wCnd +'RhCmCtg=''' + @mHistCmCtg + ''' and ' + 
								  'RhCmCd=''' + @mHistCmCd + ''' and RhCmCurCd=''' + @mCmCurCd + ''' and '+ '1'+' = 1),' + 					  
								  case when(@wCmSeekZSelfRt = 1 Or @mOpt = 'C') then 
								  'Convert(Decimal(14,' +case when @wInc = 0 then '3' else @ws_RndOff end + '),' +
								  'IsNull((Select ' +@wRt + ' from RmRtHist where ' + 
								  'RhYyyyMm=' + convert(varchar,@mHistYyyyMm) + ' and RhTcTyp= ''IPD'' and  
								  RhCtg=''' + @wRmCtg + ''' and RhSCtg=''' + @wRmSCtg + ''' and  
								  RhCd=''' + @mRmCd + ''' and ' + @wCnd +' RhCmCtg= ''C'' and RhCmCd =''' + @ctSelfCmCd + ''' and 
								  RhCmCurCd=''' + @mCmCurCd + ''' and ' + 
								  '1'  + ' = 1)*(1 +' + convert(varchar,@wInc) + ' / 100) ,0))' else '0' end + ')' 
	end
	Else
	begin	  
/*		select @wAccessoriesRmIncFac =										
										'(case when ''' + @wRmCtg + ''' = ''X'' then ((' + convert(varchar,@mLme) + '-RrFrLn) * ' +
										'(case when ''' + @mOpt + ''' = ''C'' then RrFixMinTol else RrFixMaxTol end)  ) else 0 end) '*/
										
		select @wAccessoriesRmIncFac =										
										'(case when ''' + '1' + ''' = ''1'' then ((' + convert(varchar,@mLme) + '-'+convert(varchar,@mBaseLMEfromRM)+') * ' +
										'(case when ''' + @mOpt + ''' = ''C'' then RrFixMinTol else RrFixMaxTol  end)  ) else 0 end) '
																									         
		select @wCommand='Select @wRmRt=' + 
			     'isnull((Select ' + @wRt + '+' + @wAccessoriesRmIncFac + 
                 ' from RmRt where RrTcTyp=''IPD'' and RrCtg=''' + @wRmCtg + ''' and RrSCtg=''' + @wRmSCtg + ''' and 
				 RrCd=''' + @mRmCd + ''' and ' + @wCnd + ' RrCmCtg= ''P'' and RrCmCd ='''+  @mCmLkUpRmRt + ''' and 
				 RrCmCurCd=''' + @mCmCurCd + ''' and ' +'1' +  '= 1)* (1 + '  + convert(varchar,@wInp) + ' / 100) ,  ' +					 				 
                 'isnull((Select ' + @wRt  + '+' + @wAccessoriesRmIncFac + 
                 ' from RmRt where RrTcTyp=''IPD'' and RrCtg=''' + @wRmCtg + ''' and RrSCtg=''' + @wRmSCtg + ''' and  
                 RrCd=''' + @mRmCd + ''' and '+@wCnd + ' RrCmCtg=''' +  @mCmCtg + ''' and 
                 RrCmCd =''' + @mCmCd + ''' and RrCmCurCd=''' + @mCmCurCd + ''' and ' + '1' + ' = 1) ,' + 
                 ' ' + (case when @wCmSeekZSelfRt =1 Or @mOpt = 'C' 
				 then 'Convert(Decimal(14, '+ case when @wInc = 0 then '3' else @ws_RndOff end +'),' 
				 +'IsNull((Select ' + @wRt + '+' + @wAccessoriesRmIncFac +					
                 ' from RmRt where RrTcTyp= ''IPD'' and RrCtg=''' + @wRmCtg + ''' and RrSCtg=''' + @wRmSCtg + ''' and 
                 RrCd=''' + @mRmCd + ''' and '+ @wCnd + ' RrCmCtg=''' + @mCmCtg + ''' and 
                 RrCmCd =''' + @ctSelfCmCd + ''' and RrCmCurCd=''' +  @mCmCurCd + ''' and '                                    
                 +'1' + ' = 1)*(1 +'  + convert(varchar, @wInc) + ' / 100) , 0))'  else '0' END )+ '))'
	End
  End
  Else If (@wRtChrtByPtr = 'P' Or @wRtChrtByBs = 'BS')
  begin	
    If(@mHistCmCtg <> '')
    begin
      If (@mOpt = 'C')	  
        select @wCommand='Select @wRmRt=' + @wRt + ' from RmRtHist  
                where RhYyyyMm=' + convert(varchar,@mHistYyyyMm) + ' and RhTcTyp=''IPD'' and 
                RhCtg=''' + @wRmCtg + ''' and RhSCtg=''' + @wRmSCtg + ''' and 
                RhCd=''' + @mRmCd + ''' and ' + @wcndForCostRt + ' RhCmCtg= ''C'' and RhCmCd =''' + 
                @ctSelfCmCd + ''' and RhCmCurCd=''' + @mCmCurCd + ''' and ' + '1' + ' = 1'
      Else	  
        select @wCommand='Select @wRmRt=' + @wRt + ' from RmRtHist 
                where RhYyyyMm=' + convert(varchar,@mHistYyyyMm) + ' and RhTcTyp= ''IPD'' and 
                RhCtg=''' + @wRmCtg + ''' and RhSCtg=''' + @wRmSCtg + ''' and 
                RhCd=''' + @mRmCd + ''' and ' + @wCnd + ' RhCmCtg= ''C'' and RhCmCd =''' + 
                @mCmCd + ''' and RhCmCurCd=''' + @mCmCurCd + ''' and ' + '1' + ' = 1'
	End
	else
  
	begin
    If (@mOpt = 'C') 
      select @wCommand='select @wRmRt=isnull((Select  '+ @wRt + ' from RmRt where RrTcTyp=''IPD'' and 
				RrCtg='''+ @wRmCtg +''' and RrSCtg='''+ @wRmSCtg +''' and 
                RrCd='''+ @mRmCd +''' and '+ @wCnd + ' RrCmCtg='''+ @mCmCtg +''' and 
                RrCmCd ='''+ @mCmCd +''' and RrCmCurCd='''+ @mCmCurCd +''' and ' +'1'+ ' = 1),
                isnull((Select ' + @wRt + ' from RmRt where RrTcTyp= ''IPD'' and 
				RrCtg='''+ @wRmCtg +''' and RrSCtg=''' + @wRmSCtg +''' and 
				RrCd='''+ @mRmCd +''' and ' + @wcndForCostRt + ' RrCmCtg='''+ @mCmCtg +''' and RrCmCd ='''+ @ctSelfCmCd +''' and 
				RrCmCurCd='''+ @mCmCurCd +''' and '+ '1' + ' = 1),0))'
    Else				
     select @wCommand='Select @wRmRt= '+ @wRt +' from RmRt where RrTcTyp= ''IPD'' and 
              RrCtg=''' + @wRmCtg + ''' and RrSCtg=''' + @wRmSCtg + ''' and 
              RrCd=''' + @mRmCd + ''' and ' + @wCnd + ' RrCmCtg=''' + @mCmCtg + ''' and RrCmCd =''' + @mCmCd + ''' and 
              RrCmCurCd=''' + @mCmCurCd + ''' and ' + '1' + ' = 1 '               
    End
  
  end
  select 'Command:'+isnull(@wCommand ,'')
  BEGIN TRY

  exec sp_executesql @wcommand,
						N'@mCmCd varchar(8), 
						@mRmCd varchar(16), 
                        @mLn1 decimal(8,3), 
						@mLn2 decimal(8,3), 
                        @mWtPerDia decimal(8,3), 
					    @mOpt As varchar(1),                         
					    @mLme decimal(10,3), 
						@mCmCtg As char(1),
                        @mHistCmCtg char(1) , 
						@mHistCmCd varchar(8),
                        @mHistYyyyMm decimal(8,0),                         
						@mCmCurCd varchar(8), 
                        @mCmLkUpRmRt varchar(8),                         
						@mPrtKey char(1),						
						@wRmCtg char(2),
						@wRmSCtg varchar(5),
						@wInp decimal(5,3),  
						@wRmRt decimal(10,3) output'
						,@mCmCd =@mCmCd, 
						@mRmCd =@mRmCd, 
                        @mLn1 =@mLn1, 
						@mLn2 =@mLn2, 
						@mWtPerDia =@mWtPerDia, 
						@mOpt =@mOpt,                         
						@mLme =@mLme, 
						@mCmCtg =@mCmCtg,
                        @mHistCmCtg =@mHistCmCtg, 
						@mHistCmCd =@mHistCmCd,
                        @mHistYyyyMm =@mHistYyyyMm,                         
						@mCmCurCd =@mCmCurCd, 
                        @mCmLkUpRmRt =@mCmLkuPRmRt,                         
						@mPrtKey =@mPrtKey,
						@wRmCtg=@wRmCtg,
						@wRmSCtg=@wRmSCtg,
						@wInp=@wInp,
						@wRmRt=@wRmRt output
						END TRY
						BEGIN CATCH
						 SELECT ERROR_NUMBER() AS ErrorNumber
         ,ERROR_SEVERITY() AS ErrorSeverity
         ,ERROR_STATE() AS ErrorState
         ,ERROR_PROCEDURE() AS ErrorProcedure
         ,ERROR_LINE() AS ErrorLine
         ,ERROR_MESSAGE() AS ErrorMessage
         END CATCH

Select @mrt= isnull(@wrmrt ,0)
RETURN @mrt
END

